<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Narcos{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% block basebody %}

            {% block javascripts %}{% endblock %}

            <div class="container">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
