{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/octopusgamesserver/js/admin/config.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>{{ type|capitalize }} Config List</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Filename</th>
            <th scope="col">Content</th>
            <th scope="col">MD5</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for item in configs %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ source(item.path) }}</td>
                <td>{{ item.md5 }}</td>
                <td>
                    {#<a class="btn btn-primary" href="{{ path('admin_configset_list') }}" role="button">Back</a>#}
                    {#<button type="button" class="btn btn-default btn-sm remove-config-button" data-url="{{ path('admin_config_remove', {'id': item.getFileName()}) }}" data-id="{{ item.getFileName() }}">#}
                        {#<span></span> Remove#}
                    {#</button>#}
                    {#<button type="button" class="btn btn-default btn-sm view-config-button" data-url="{{ path('admin_config_view', {'id': item.getFileName()}) }}" data-id="{{ item.getFileName() }}">#}
                        {#<span class="glyphicon"></span> View#}
                    {#</button>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin_configset_list') }}" role="button">Back</a>

{% endblock %}