{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/octopusgamesserver/js/admin/main.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/liveops/admin/css/userSegment/list.css') }}">
{% endblock %}

{% block body %}
    <h1>Configs by Env</h1>

    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                {% set branches = [] %}
                {% for env, val in envData %}
                    {% set branches = branches|merge([env]) %}
                    <li ><a href="#tab{{ env }}default" data-toggle="tab">{{ env|capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                {% for val, env in branches %}
                    <div class="tab-pane fade" id="tab{{ env }}default">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Message</td>
                                <td>Author</td>
                                <td>Commit</td>
                                <td>Date</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in envData[env] %}
                                <tr>
                                    <td>{{ data.msg|raw }}</td>
                                    <td>{{ data.author }}</td>
                                    <td><span title="{{ data.revision }}">{{ data.revision|slice(0, 8) }}...</span></td>
                                    <td>{{ data.date|date }}</td>
                                    <td><a href="{{ path('admin_get_commit_configset_config', {'id':configset.id, 'branch':env, 'commit':data.revision}) }}">Export</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if val+1 < branches|length %}
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <div class="center">
                                <button data-toggle="modal" data-target="#squarespaceModal" data-from="{{ env }}" data-to="{{ branches[val + 1] }}" class="btn btn-primary center-block merge-config">Merge</button>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="lineModalLabel">Merge to <span></span></h3>
                </div>
                <div class="modal-body">
                    <form id="modalForm" action="{{ path('admin_configset_env_merge') }}" method="post">
                        <input type="hidden" id="configset" name="configset" value="{{ configset.id }}">
                        <input type="hidden" id="from" name="from" value="">
                        <input type="hidden" id="to" name="to" value="">
                        <div class="form-group">
                            <label class="control-label" for="comment">Comment</label>
                            <div id="dp3" data-date="">
                                <textarea id="comment" name="comment" required="required" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button id="modal-apply" class="btn btn-default btn-hover-green" role="button">Merge</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.merge-config').click(function (event) {
                event.preventDefault();
                $('.modal-title span').html($(this).data('to'));
                $('#modalForm #from').val($(this).data('from'));
                $('#modalForm #to').val($(this).data('to'));
            });
            $('#modal-apply').click(function () {
                $('#modalForm').submit();
            });
        });
    </script>

{% endblock %}



