{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/octopusgamesconfigset/js/admin/main.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>History List</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Revision</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Message</th>
            <th scope="col">Diff</th>
        </tr>
        </thead>
        <tbody>
        {% for item in commits %}
            <tr>
                <td width="10%">{{ item.revision }}</td>
                <td width="10%">{{ item.author }}</td>
                <td width="10%">{{ item.date|date }}</td>
                <td width="10%">{{ item.msg }}</td>
                <td width="60%">
                    <div class="dropdown-heading" role="tab" id="heading-1">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ item.revision }}" aria-expanded="true" aria-controls="collapse-{{ item.revision }}">
                            <i class="more-less pull-right glyphicon glyphicon-chevron-down"></i>
                            changes
                        </a>
                    </div>
                    <div id="collapse-{{ item.revision }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                    {% for file in item.diff.files %}
                        {% if file.oldName and file.newName is empty  %}
                            <span>{{ file.oldName }}</span> <span class="label label-danger">Deleted</span><br>
                        {% elseif file.oldName is empty and file.newName %}
                            <span>{{ file.newName }}</span> <span class="label label-success">Added</span><br>
                        {% else %}
                            <span>{{ file.oldName ~ ' => ' ~ file.newName }}</span><span class="label label-info">Modified</span><br>
                        {% endif %}
                        {% for change in file.changes %}
                            {% for line in change.lines %}
                                {% if line[0] == 0 %}
                                    <span style="color: {% if loop.index == 1 %}darkgray{% else %}green{% endif %} ">{{ ' ' ~ line[1] }}</span><br>
                                {% elseif line[0] == -1 %}
                                    <span style="color: {% if loop.index == 1 %}red{% else %}green{% endif %} ">{{ ' - ' ~ line[1] }}</span><br>
                                {% else %}
                                    <span style="color: {% if loop.index == 1 %}green{% else %}green{% endif %} ">{{ ' + ' ~ line[1] }}</span><br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}



