{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% use 'OctopusGamesConfigsetBundle::grid/blocks.html.twig' %}

{% block javascripts %}
    {#<script src="{{ asset('bundles/octopusgamesserver/js/admin/main.js') }}"></script>#}
{% endblock %}

{% block body %}
    <h1>Configset List</h1>


    {{ grid|raw }}

    {#<form id="{{ grid.hash }}_form" action="{{ path('admin_configset_list') }}" method="post">#}

    {#<table class="table">#}
        {#<thead>#}
        {#<tr>#}
            {#<th scope="col">Displayname</th>#}
            {#<th scope="col">Description</th>#}
            {#<th scope="col">File</th>#}
            {#<th scope="col">Created At</th>#}
            {#<th scope="col">Content</th>#}
            {#<th scope="col">Actions</th>#}
        {#</tr>#}
        {#<tr>#}
            {#<th scope="col">#}
                {#<input name="displayName" onkeypress="gridFilter(event)" value="{{ grid.params['displayName']|default('') }}" />#}
            {#</th>#}
            {#<th scope="col">#}
                {#<input name="description" onkeypress="gridFilter(event)" value="{{ grid.params['description']|default('') }}" />#}
            {#</th>#}
            {#<th scope="col">#}
                {#<input name="createdAt" onkeypress="gridFilter(event)" value="{{ grid.params['createdAt']|default('') }}" />#}
            {#</th>#}
            {#<th scope="col"></th>#}
            {#<th scope="col"></th>#}
            {#<th scope="col"></th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for item in grid.data %}#}
            {#<tr>#}
                {#<td>{{ item.displayName }}</td>#}
                {#<td>{{ item.description }}</td>#}
                {#<td>#}
                    {#{% if item.filename %}#}
                        {#<a href="{{ path('admin_configset_download', {'filename': item.filename}) }}">{{ item.filename }}</a>#}
                    {#{% endif %}#}
                {#</td>#}
                {#<td>{{ item.createdAt|date }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#{% for config in item.clientConfigs %}#}
                            {#<li>{{ config.json|slice(0, 30)  }}</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                {#</td>#}
                {#<td>#}
                    {#<a href="{{ path('admin_configset_history', {'id': item.id}) }}">History</a>#}
                    {#<a class="btn btn-primary" href="{{ path('admin_configset_remove', {'id': item.id}) }}" role="button">Remove</a><br><br>#}
                    {#<a class="btn btn-primary" href="{{ path('admin_configset_view', {'id': item.id, 'type':'client'}) }}" role="button">View Client Configs</a><br><br>#}
                    {#<a class="btn btn-primary" href="{{ path('admin_configset_view', {'id': item.id, 'type':'server'}) }}" role="button">View Server Configs</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<input type="button" name="prev" class="prev" {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<" onclick="gridPaginator({{ grid.page }} - 1);"/>#}
    {#<input id="{{ grid.hash ~ '_current_page' }}" type="text" name="page" class="current" value="{{ grid.page }}" size="2" onkeypress=""/>#}
    {#<input type="button" name="next" value=">" class="next" onclick="gridPaginator({{ grid.page }} + 1);" {% if grid.page > grid.pageCount %}disabled="disabled"{% endif %} /> {{ '%current% of %count%'|trans({ '%count%' : grid.pageCount, '%current%' : grid.page }) }}#}

    {#</form>#}


{% endblock %}



