{% extends 'OctopusGamesConfigsetBundle::base.html.twig' %}

{% block basebody %}

    {% block javascripts %}
        <script src="{{ asset('bundles/octopusgamesserver/js/admin/main.js') }}"></script>
    {% endblock %}

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                {#<a class="navbar-brand" href="{{ path('admin_config_list') }}">Narcos</a>#}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    {#<li class="{% if app.request.get('' ~ '_route') == 'admin_config_list' %}active{% endif %}"><a href="{{ path('admin_config_list') }}">Config List</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="body-container">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
