@import 'main'

.navbar
  border-radius: 0 !important

.header-and-control
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: stretch

  a
    height: 33px

.admin_config_upload
  #form_file
    margin-top: 20px
    margin-bottom: 20px
