{% block grid %}
    <div class="grid">
        <div style="float:right"><a href="#" onclick="gridClear()" style="">Clear</a></div>
        {% if grid.totalCount > 0  %}
            <form id="{{ grid.hash }}_form" action="{{ grid.routeUrl }}" method="post">
                <div class="grid_header">
                </div>
                <div class="grid_body">
                    <table class="table">
                        {% if grid.isTitleSectionVisible %}
                            {{- block('grid_titles') -}}
                        {% endif %}

                        {% if grid.isFilterSectionVisible %}
                            {{- block('grid_filters') -}}
                        {% endif %}
                        {{- block('grid_rows') -}}
                    </table>
                </div>
                <div class="grid_footer">
                    {% if grid.isPagerSectionVisible %}
                        {{- block('grid_pager') -}}
                    {% endif %}
                </div>
                {{- block('grid_scripts') -}}
            </form>
        {% else %}
            {{- block('grid_no_data') -}}
        {% endif %}
    </div>
{% endblock grid %}
{# --------------------------------------------------- grid_no_data ------------------------------------------------- #}
{% block grid_no_data %}<p class="no_data">{{ grid.noDataMessage|default('No data')|trans|raw }}</p>{% endblock grid_no_data %}
{# --------------------------------------------------- grid_no_result ------------------------------------------------- #}
{#{% block grid_no_result %}#}
{#{% spaceless %}#}
{#{% set nbColumns = 0 %}#}
{#{% for column in grid.columns %}#}
    {#{% if column.visible(grid.isReadyForExport) %}#}
        {#{% set nbColumns = nbColumns + 1 %}#}
    {#{% endif %}#}
{#{% endfor %}#}
{#<tr class="grid-row-cells">#}
    {#<td class="last-column last-row" colspan="{{ nbColumns }}" style="text-align: center;">{{ grid.noResultMessage|default('No result')|trans|raw }}</td>#}
{#</tr>#}
{#{% endspaceless %}#}
{#{% endblock grid_no_result %}#}
{# --------------------------------------------------- grid_titles -------------------------------------------------- #}
{% block grid_titles %}
    <tr class="grid-row-titles">
    {% for column, attrs in grid.columns %}
        {% if attrs.visible is defined %}
            <th class="{{ column.class|default }}{% if loop.last %} last-column{% endif %}">
            {%- spaceless %}
                {% set columnTitle = attrs.title %}

                {% if (attrs.sortable) %}
                    <a class="order" onclick="gridOrder('{{ column }}')" href="#" title="{{ 'Order by'|trans }} {{ columnTitle }}">{{ columnTitle }}</a>
                    {% if attrs.order is defined and attrs.order == 'asc' %}
                        <div class="sort_up"></div>
                    {% elseif attrs.order is defined and  attrs.order == 'desc' %}
                        <div class="sort_down"></div>
                    {% endif %}
                    <input
                            id="{{ grid.hash }}_order_{{ column }}"
                            type="hidden"
                            name="order[{{ column }}]"
                            value="{{ attribute(grid.requestParams.order, column)|default }}"
                    >
                {% else %}
                    {{ columnTitle }}
                {% endif %}
            {% endspaceless -%}
            </th>
        {% endif %}
    {% endfor %}
    <th class="{{ column.class|default }}">
        {% if grid.actions|length %}{{ grid.actionsTitle }}{% endif %}
    </th>
    </tr>
{% endblock grid_titles %}
{# -------------------------------------------------- grid_filters -------------------------------------------------- #}
{% block grid_filters %}
    <tr class="grid-row-filters">
        {% for column, attrs in grid.columns %}
            {% if attrs.visible is defined %}
                <th class="{{ attrs.class|default }}{% if loop.last %} last-column{% endif %}">
                    {% if attrs.filterable %}
                        <input name="{{ column }}" onkeypress="gridFilter(event)" value="{{ attribute(grid.requestParams, column)|default('') }}" />
                    {% endif %}
                </th>
            {% endif %}
        {% endfor %}
        <th class="{{ column.class|default }}">
            {% if grid.actions|length %}{% endif %}
        </th>
    </tr>
{% endblock grid_filters %}
{# ---------------------------------------------------- grid_rows --------------------------------------------------- #}
{% block grid_rows %}
    {% for row in grid.rows %}
        {% set last_row = loop.last %}
        <tr>
            {% for column, attrs in grid.columns %}
                {% if attrs.visible is defined %}
                    <td class="grid-column
                    {{ attrs.class|default() }}
                    {% if last_row %} last-row {% endif %}"
                    >
                        {% if attrs.type is defined %}
                            {% if attrs.type == 'string' %}
                                {{ attribute(row, column) }}
                            {% elseif attrs.type == 'date' %}
                                {{ attribute(row, column)|default('')|date }}
                            {% elseif attrs.type == 'array' %}
                                {% for key, value in attribute(row, column) %}
                                    {{ key }} - {{ value }}<br>
                                {% endfor %}
                            {% elseif attrs.type == 'file' %}
                                <a href="{{ path('admin_configset_download', {'id': attribute(row, 'id')}) }}">{{ attribute(row, column)|split('\/')|last }}</a>
                            {% endif %}
                        {% else %}
                            {{ attribute(row, column) }}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
            {% if grid.actions|length %}
                <td>
                    <ul>
                        {% for action in grid.actions %}
                            {% set params = {} %}
                            {% for key, param in action.params %}
                                {% if param matches '{^[%].*[%]$}' %}
                                    {% set params = params|merge({(key) : attribute(row, key)}) %}
                                {% else %}
                                    {% set params = params|merge({(key) :param}) %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href="{{ path(attribute(action, 'route'), params) }}">
                                    {{ attribute(action, 'name') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock grid_rows %}
{# ---------------------------------------------------- grid_pager -------------------------------------------------- #}
{% block grid_pager %}
        <div class="pager" style="float:left">
            {{- block('grid_pager_totalcount') -}}
            {{- block('grid_pager_selectpage') -}}
        </div>
{% endblock grid_pager %}
{# ---------------------------------------------------- grid_pager_totalcount -------------------------------------------------- #}
{% block grid_pager_totalcount %}
{{ '%count% Results, ' | transchoice(grid.totalCount, {'%count%': grid.totalCount}) }}
{% endblock grid_pager_totalcount %}
{# ---------------------------------------------------- grid_pager_selectpage -------------------------------------------------- #}
{% block grid_pager_selectpage %}
    {{ 'Page'|trans }}
    {% spaceless %}
        <input type="button" name="prev" class="prev" {% if grid.page <= 0 %}disabled="disabled"{% endif %} value="<" onclick="gridPaginator({{ grid.page }} - 1);"/>
        <input id="{{ grid.hash ~ '_current_page' }}" type="text" name="page" class="current" value="{{ grid.page }}" size="2" onkeypress=""/>
        <input type="button" name="next" value=">" class="next" onclick="gridPaginator({{ grid.page }} + 1);" {% if grid.page > grid.pageCount %}disabled="disabled"{% endif %} /> {{ '%current% of %count%'|trans({ '%count%' : grid.pageCount, '%current%' : grid.page }) }}
    {% endspaceless %}
{% endblock grid_pager_selectpage %}

{# ------------------------------------------------ grid_column_actions_cell --------------------------------------------- #}
{% block grid_column_actions_cell %}
    <ul class="grid-row-actions">
    {% for action in grid.actions %}
        <li>
        {% if action.enabled %}
            <a href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}>{{ action.title|trans }}</a>
        {% else %}
            <span{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %}>{{ action.title|trans }}</span>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock grid_column_actions_cell %}
{# --------------------------------------------------- grid_scripts -------------------------------------------------- #}
{% block grid_scripts %}
    <script type="text/javascript">
        {{- block('gridPaginator') -}}
        {{- block('gridFilter') -}}
        {{- block('gridOrder') -}}
        {{- block('gridClear') -}}
    </script>
{% endblock grid_scripts %}

{% block gridPaginator %}
    function gridPaginator(page)
    {
        if (page<1) {
            document.getElementById("{{ grid.hash ~ '_current_page' }}").value = 1;
        } else if (page >= {{ grid.pageCount }}) {
            document.getElementById("{{ grid.hash ~ '_current_page' }}").value = {{ grid.pageCount }};
        } else {
            document.getElementById("{{ grid.hash ~ '_current_page' }}").value = page;
        }
        document.getElementById('{{ grid.hash ~ '_form' }}').submit();
    }
{% endblock gridPaginator %}

{% block gridFilter %}

    function gridFilter(event)
    {
        key = event.which;

        if (window.event) {
            key = window.event.keyCode; //IE
        }

        if (key == 13) {
            document.getElementById('{{ grid.hash ~ '_form' }}').submit();

            return false;
        }
    }
{% endblock gridFilter %}

{% block gridOrder %}
    function gridOrder(item)
    {
        var id = '{{ grid.hash }}' + '_order_' + item;

        if ($('#' + id).val() == 'asc') {
            $('#' + id).val('desc');
        } else {
            $('#' + id).val('asc');
        }

        document.getElementById('{{ grid.hash ~ '_form' }}').submit();
    }
{% endblock gridOrder %}

{% block gridClear %}
    function gridClear()
    {
        var id = '{{ grid.hash }}' + '_form';

        $('#' + id).find("input").val("");
        document.getElementById('{{ grid.hash ~ '_form' }}').submit();
    }
{% endblock gridClear %}
