{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/js/admin/config.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="admin_config_upload">
        <div class="header-and-control">
            <h1>Upload Config</h1>
            <a href="#" class="btn btn-primary btn-md navigate-list-button" role="button" data-url="{{ path('game_server_bundleset_list') }}">Back</a>
        </div>

        {% for label, messages in app.flashes(['danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
