{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/octopusgamesserver/js/admin/config.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Config List</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in config %}
            {% set backup = configBackupRepo.find(item.getFileName()) %}

            <tr>
                <td>{{ item.getFileName() }}</td>
                <td>{{ item.getJson()|slice(0, 30) }}</td>
                <td>{{ item.getCreatedAt()|date }}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm remove-config-button" data-url="{{ path('admin_config_remove', {'id': item.getFileName()}) }}" data-id="{{ item.getFileName() }}">
                        <span></span> Remove
                    </button>
                    <button type="button" class="btn btn-default btn-sm view-config-button" data-url="{{ path('admin_config_view', {'id': item.getFileName()}) }}" data-id="{{ item.getFileName() }}">
                        <span class="glyphicon"></span> View
                    </button>
                    {% if backup %}
                        <button type="button" class="btn btn-default btn-sm backup-config-button" data-url="{{ path('admin_config_backup', {'id': item.getFileName()}) }}" data-id="{{ item.getFileName() }}">
                            <span class="glyphicon"></span> Backup ({{ backup.getCreatedAt()|date }})
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-md navigate-upload-button" data-url="{{ path('admin_config_upload') }}">Upload</button>

{% endblock %}
