{% extends 'OctopusGamesConfigsetBundle::admin/main.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/octopusgamesserver/js/admin/config.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="header-and-control">
        <h1>Config View</h1>
        <a href="#" class="btn btn-primary btn-md navigate-list-button" role="button" data-url="{{ path('admin_config_list') }}">Back</a>
    </div>

    <div id="json-data" data-json="{{ config.json }}"></div>
    <div id="json-container"></div>
{% endblock %}
